.app__chef-content{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}
.app__chef-content_quote{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.app__chef-content_quote img{
    width: 47px;
    height: 40px;
}

.app__chef-sign{

}