.app__newsletter{
    padding: 2rem 4rem;
    border: 1px solid white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}