.app__newsletter{
    padding: 2rem 4rem;
    border: 1px solid var(--color-golden);
    background: var(--color-black);
    z-index: 1;
}

.app__newsletter-heading{
    text-align: center;
}

.app__newletter-input{
    flex-direction: row;
    margin-top: 3rem;
}

.app__newletter-input input{
    width: 620px;
    height: 40px;
    border: 1px solid var(--color-golden);
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: var(--font-base);
    color: var(--color-white);
    margin-right: 2rem;
    margin: 1.5rem 2rem;
    background: var(--color-black);
}

.app__newletter-input button{
    width: max-content;
}


@media screen and (min-width:2000px) {
    
}
@media screen and (max-width:990px) {
    
}
@media screen and (min-width:650px) {
    .app__newsletter{
        padding: 2rem 0;
    }
}
@media screen and (min-width:300px) {
    .app__newsletter-heading h1{
        font-size: 32px;
        line-height: 50px;
    }
}
